/* FLEX BOX STYLES */

.flex-box {
    display: flex;
}

.flex-box.column {
    flex-direction: column;
}

.flex-box.spaceBetween {
    justify-content: space-between;
}

.flex-box.wrappable {
    flex-wrap: wrap;
}

.flex-box.flex {
    flex: 1;
}

.flex-box.v-center {
    align-items: center;
}

.flex-box.h-center {
    justify-content: center;
}

.flex-box.h-left {
    justify-content: flex-start;
}

.flex-box.v-left {
    align-items: flex-start;
}

.flex-box.flexEnd {
    justify-content: flex-end;
}

/* .flex-box.column.flexEnd {
    align-items: flex-end;
    align-content: flex-end;
} */

.flex-box.flexStart {
    align-items: flex-start;
    align-content: flex-start;
}

.flex-box.column.flexStart {
    justify-content: flex-start;
}

.flex-box.baseline {
    align-content: baseline;
}

.flex-box.overflow-y {
    overflow-y: auto;
}

.flex-box.overflow-x {
    overflow-x: auto;
}

/* FLEX BOX STYLES ENDS */