
.mobile-menu-button {
    display: none;
    color: white;
    font-size: 30px
}

.menu-close-btn {
    color: white;
    font-size: 30px;
    display: none;
}

@media only screen and (max-width: 900px) {
    .nav-menu {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 100;
        transform: translateX(-100%);
        transition: transform .3s ease-in-out;
    }

    [direction~=rtl] .nav-menu {
        left: unset;
        right: 0;
        transform: translateX(100%);
    }

    .nav-menu.open {
        transform: translateX(0);
    }

    .nav-menu .menu-close-btn {
        display: inline;
        margin: 10px auto;
    }

    .mobile-menu-button {
        display: block;
    }
}