.nav-container {
    padding: 10px 30px;
    background-color: rgba(0, 0, 0, 0.2);
    transition: all .3s ease-in-out;
}
.nav-link{
    color: white;
    font-weight: bold;
    font-size: 1rem;
    margin: 5px;
    padding: 3px 10px;
    cursor: pointer;
    border-radius: 5px;
    text-transform: capitalize;
}
.nav-link:hover{
    color: gray;
    background-color: rgba(255, 255, 255, 0.411);
}
.nav-link.active{
    color: rgba(0, 0, 0, 0.7);;
    background-color: rgba(255, 255, 255, 0.767);
}